{% include 'templates/header.tmpl' %}

	<h2>{{title}}</h2>
	<h4>{{version}}</h4>

	<ul>
		<li><a href="/?path=product/index">Products</a></li>
		<li><a href="/?path=gallery/index">Gallery</a></li>
		<li><a href="/?path=user/index">Users</a></li>
	</ul>

{% include 'templates/footer.tmpl' %}