{%include 'templates/header.tmpl'%}

Вы вошли как {{user}}

	<ul>
		<li><a href="/?path=product/index">Products</a></li>
		<li><a href="/?path=user/index">Users</a></li>
	</ul>

{%include '/templates/footer.tmpl'%}