<html>
  <head></head>
  <body>

  {% include 'header.tmpl' %}

  {{ book.author }}<br />
  {{ book.name }}<br /><br />

<ul>
	{% for item in items %}
	<li>{{ item }}</li>
	{% endfor %}
</ul>

	    {% if month > 0 and month <= 3 %}
	      Spring is here, watch the flowers bloom!
	    {% elseif month > 3 and month <= 6 %}
	      Summer is here, time to hit the beach!
	    {% elseif month > 6 and month <= 9 %}
	      Autumn is here, watch the leaves slowly fall!
	    {% elseif month > 9 and month <= 12 %}
	      Winter is here, time to hit the slopes!
	    {% endif %}

  <h2>Account successfully created!</h2>
	  <p>Hello {{ name }}</p>
	  <p>Thank you for registering with us. Your account details are as follows: </p>
  <p style="margin-left: 10px">
	  Username: {{ username }} <br/>
	  Password: {{ password }}
	  </p> 
	  <p>You've already been logged in, so go on in and have some fun!</p>
  
	{{ "now"|date("d M Y h:i") }}<br />
	{{ "now"|date("d/M/Y") }}

	{{ "hello world"|upper }}<br />
	{{ "hello world"|capitalize }}<br />
	{{ "hello world"|title }}<br />
	{{ "hello world"|lower }}<br />
	{{ "<div>hello world</div>"|striptags }}<br />
	{{ "<div>hello world</div>"|striptags|replace({"world" : "Welt"}) }}<br />

	{% autoescape true %}

	Escaped output: sdihwkjd

	{% endautoescape %}
  </body>

   {% include 'footer.tmpl' %}

</html>
